@model DES_AR201154_RM220242_VM220243_Desafio1.Models.Empleado

@{
    ViewData["Title"] = "Detalles Empleado";
}

<h1>Detalles Empleado</h1>

<dl class="row">
    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre</dd>

    <dt class="col-sm-2">Fecha Nacimiento</dt>
    <dd class="col-sm-10">@Model.FechaNacimiento.ToString("yyyy-MM-dd")</dd>

    <dt class="col-sm-2">Fecha Contratación</dt>
    <dd class="col-sm-10">@Model.FechaContratacion.ToString("yyyy-MM-dd")</dd>

    <dt class="col-sm-2">Departamento</dt>
    <dd class="col-sm-10">@Model.Departamento?.Nombre</dd>

    <dt class="col-sm-2">Salario</dt>
    <dd class="col-sm-10">@Model.Salario.ToString("C")</dd>

    <dt class="col-sm-2">Descripción</dt>
    <dd class="col-sm-10">@Model.Descripcion</dd>
</dl>

<a class="btn btn-secondary" href="/Empleados">Volver</a>
